@import 'bootstrap/custom';
@import 'fontawesome/custom';
@import 'variables';
@import "common/animations";
@import "components/popin";

body {
  font-family: $wd-font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.5;
  padding: 0;

  .app {
    min-height: 100vh;
    background-color: $wd-background-color;

    .disabled {
      cursor: not-allowed;
    }

    .btn-primary, .btn-secondary {
      color: $wd-white;
    }
  }
}

