.tags {
  position: absolute;
  left: -5px;
  top: 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .tag {
    width: 100px;
    height: 30px;
    color: $wd-white;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    &--discount {
      background-color: $wd-discount-flag-color;
    }

    &--new {
      background-color: $wd-new-flag-color;
    }
  }

}
